In [1]:
import selenium
from selenium import webdriver
import time
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r'C:\chromedriver.exe')

In [3]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

def get_yatra(dep_from, arr_to, dep_day, dep_mon, dep_year, fl_cl):
    urls = ('https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class='+fl_cl+
    '&destination='+arr_to+'&destinationCountry=IN&flexi=0&flight_depart_date='+dep_day+'%2F'+dep_mon+'%2F'+dep_year+'&hb=0&noOfSegments=1&origin='
    +dep_from+'&originCountry=IN&type=O&unique=207953473702&viewName=normal')
    
    driver.get(urls)

    time.sleep(35)
    
    for i in range(45): 
       driver.execute_script("window.scrollBy(0, 10000)")
       time.sleep(1)
    
    try:
        air = driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
        for i in air:
            airlines.append(i.text)
    except NoSuchElementException:
        airlines.append('-')
    
    try:
        dep = driver.find_elements_by_xpath('//div[@class="i-b pr"]')
        for d in dep:
            departure.append(d.text)
    except NoSuchElementException:
        departure.append('-')
        
    try:
        dur = driver.find_elements_by_xpath('//div[@class="stop-cont pl-13"]//p')
        for u in dur:
            duration.append(u.text)
    except NoSuchElementException:
        duration.append('-')
        
    try:
        stop = driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]//span')
        for s in stop:
            stops.append(s.text)
    except NoSuchElementException:
        stops.append('-')
        
        
    try:
        tcity = driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]//p[2]')
        for t in tcity:
            to_city.append(t.text)
    except NoSuchElementException:
        to_city.append('-')
        
    
    try:
        pri = driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
        for p in pri:
            price.append(p.text.replace(',',''))
    except NoSuchElementException:
        price.append('-')

In [4]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','29','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','29','10','2021','Economy')



x1 = pd.DataFrame({})
x1['airlines'] = airlines
x1['departure'] = departure
x1['duration'] = duration
x1['stops'] = stops
x1['from_city'] = 'Mumbai'
x1['to_city'] = to_city
x1['price'] = price
x1['journey_date'] = '2021-10-29'
x1['fclass'] = 'Economy'
x1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,13:55,8h 35m,1 Stop,Mumbai,New Delhi,5942,2021-10-29,Economy
1,Air Asia,05:55,11h 50m,1 Stop,Mumbai,New Delhi,6995,2021-10-29,Economy
2,Air Asia,05:55,13h 20m,1 Stop,Mumbai,New Delhi,6995,2021-10-29,Economy
3,Air India,08:00,2h 15m,Non Stop,Mumbai,New Delhi,7203,2021-10-29,Economy
4,Air Asia,09:55,10h 25m,1 Stop,Mumbai,New Delhi,8044,2021-10-29,Economy
...,...,...,...,...,...,...,...,...,...
451,Air Asia,23:05,16h 20m,1 Stop,Mumbai,Goa,8857,2021-10-29,Economy
452,IndiGo,14:25,1h 05m,Non Stop,Mumbai,Goa,9408,2021-10-29,Economy
453,IndiGo,18:05,1h 15m,Non Stop,Mumbai,Goa,10458,2021-10-29,Economy
454,Air Asia,22:50,8h 10m,1 Stop,Mumbai,Goa,12847,2021-10-29,Economy
455,Air Asia,20:50,10h 10m,1 Stop,Mumbai,Goa,12847,2021-10-29,Economy

In [6]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','31','10','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','31','10','2021','Economy')



x2 = pd.DataFrame({})
x2['airlines'] = airlines
x2['departure'] = departure
x2['duration'] = duration
x2['stops'] = stops
x2['from_city'] = 'Mumbai'
x2['to_city'] = to_city
x2['price'] = price
x2['journey_date'] = '2021-10-31'
x2['fclass'] = 'Economy'
x2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,22:40,2h 10m,Non Stop,Mumbai,New Delhi,5942,2021-10-31,Economy
1,Go First,23:45,2h 15m,Non Stop,Mumbai,New Delhi,5942,2021-10-31,Economy
2,Go First,16:10,5h 35m,1 Stop,Mumbai,New Delhi,5942,2021-10-31,Economy
3,Go First,16:10,5h 40m,1 Stop,Mumbai,New Delhi,5942,2021-10-31,Economy
4,Go First,21:15,11h 15m,1 Stop,Mumbai,New Delhi,5942,2021-10-31,Economy
...,...,...,...,...,...,...,...,...,...
524,Air Asia,07:20,7h 35m,1 Stop,Mumbai,Goa,22665,2021-10-31,Economy
525,Air Asia,07:20,8h 05m,1 Stop,Mumbai,Goa,22665,2021-10-31,Economy
526,Air India,16:00,21h 15m,1 Stop,Mumbai,Goa,22743,2021-10-31,Economy
527,Air India,19:25,17h 50m,2 Stop(s),Mumbai,Goa,26628,2021-10-31,Economy
528,Air India,07:00,6h 15m,1 Stop,Mumbai,Goa,31773,2021-10-31,Economy

In [7]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','2','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','2','11','2021','Economy')



x3 = pd.DataFrame({})
x3['airlines'] = airlines
x3['departure'] = departure
x3['duration'] = duration
x3['stops'] = stops
x3['from_city'] = 'Mumbai'
x3['to_city'] = to_city
x3['price'] = price
x3['journey_date'] = '2021-11-2'
x3['fclass'] = 'Economy'
x3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Go First,13:30,7h 55m,1 Stop,Mumbai,Bangalore,5100,2021-11-2,Economy
1,Go First,23:45,8h 55m,1 Stop,Mumbai,Bangalore,5100,2021-11-2,Economy
2,Go First,12:15,9h 10m,1 Stop,Mumbai,Bangalore,5100,2021-11-2,Economy
3,Go First,22:40,10h 00m,1 Stop,Mumbai,Bangalore,5100,2021-11-2,Economy
4,Go First,23:45,10h 35m,2 Stop(s),Mumbai,Bangalore,5100,2021-11-2,Economy
...,...,...,...,...,...,...,...,...,...
491,Vistara,12:15,9h 05m,2 Stop(s),Mumbai,Goa,15854,2021-11-2,Economy
492,Vistara,12:15,25h 35m,2 Stop(s),Mumbai,Goa,15854,2021-11-2,Economy
493,Air India,21:30,15h 45m,1 Stop,Mumbai,Goa,18123,2021-11-2,Economy
494,Air India,16:00,21h 15m,1 Stop,Mumbai,Goa,27888,2021-11-2,Economy
495,Air India,16:00,18h 15m,3 Stop(s),Mumbai,Goa,28571,2021-11-2,Economy

In [8]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','4','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','4','11','2021','Economy')



x4 = pd.DataFrame({})
x4['airlines'] = airlines
x4['departure'] = departure
x4['duration'] = duration
x4['stops'] = stops
x4['from_city'] = 'Mumbai'
x4['to_city'] = to_city
x4['price'] = price
x4['journey_date'] = '2021-11-4'
x4['fclass'] = 'Economy'
x4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,13:05,11h 55m,1 Stop,Mumbai,New Delhi,5941,2021-11-4,Economy
1,Go First,06:00,2h 10m,Non Stop,Mumbai,New Delhi,5942,2021-11-4,Economy
2,Go First,08:00,2h 10m,Non Stop,Mumbai,New Delhi,5942,2021-11-4,Economy
3,Go First,18:00,2h 10m,Non Stop,Mumbai,New Delhi,5942,2021-11-4,Economy
4,Go First,22:40,2h 10m,Non Stop,Mumbai,New Delhi,5942,2021-11-4,Economy
...,...,...,...,...,...,...,...,...,...
425,Vistara,17:30,20h 20m,1 Stop,Mumbai,Goa,12821,2021-11-4,Economy
426,Go First,06:00,7h 30m,1 Stop,Mumbai,Goa,12847,2021-11-4,Economy
427,Vistara,07:30,6h 20m,1 Stop,Mumbai,Goa,12978,2021-11-4,Economy
428,Vistara,06:30,7h 20m,1 Stop,Mumbai,Goa,12978,2021-11-4,Economy
429,Vistara,06:00,7h 50m,1 Stop,Mumbai,Goa,12978,2021-11-4,Economy

In [12]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','6','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','6','11','2021','Economy')



x5 = pd.DataFrame({})
x5['airlines'] = airlines
x5['departure'] = departure
x5['duration'] = duration
x5['stops'] = stops
x5['from_city'] = 'Mumbai'
x5['to_city'] = to_city
x5['price'] = price
x5['journey_date'] = '2021-11-6'
x5['fclass'] = 'Economy'
x5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,21:20,5h 30m,1 Stop,Mumbai,New Delhi,5941,2021-11-6,Economy
1,Air Asia,21:20,6h 15m,1 Stop,Mumbai,New Delhi,5941,2021-11-6,Economy
2,Air Asia,17:50,7h 10m,1 Stop,Mumbai,New Delhi,5941,2021-11-6,Economy
3,Air Asia,08:20,7h 55m,1 Stop,Mumbai,New Delhi,5941,2021-11-6,Economy
4,Air Asia,21:20,11h 35m,1 Stop,Mumbai,New Delhi,5941,2021-11-6,Economy
...,...,...,...,...,...,...,...,...,...
647,Air Asia,22:55,16h 00m,1 Stop,Mumbai,Goa,22111,2021-11-6,Economy
648,Air India,16:00,21h 15m,1 Stop,Mumbai,Goa,23268,2021-11-6,Economy
649,Air India,07:00,6h 15m,1 Stop,Mumbai,Goa,24003,2021-11-6,Economy
650,Air Asia,07:20,7h 35m,1 Stop,Mumbai,Goa,27638,2021-11-6,Economy
651,Air Asia,07:20,8h 05m,1 Stop,Mumbai,Goa,28544,2021-11-6,Economy

In [10]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','8','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','8','11','2021','Economy')



x6 = pd.DataFrame({})
x6['airlines'] = airlines
x6['departure'] = departure
x6['duration'] = duration
x6['stops'] = stops
x6['from_city'] = 'Mumbai'
x6['to_city'] = to_city
x6['price'] = price
x6['journey_date'] = '2021-11-8'
x6['fclass'] = 'Economy'
x6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,14:55,7h 30m,1 Stop,Mumbai,Bangalore,5100,2021-11-8,Economy
1,Air Asia,14:55,8h 55m,1 Stop,Mumbai,Bangalore,5100,2021-11-8,Economy
2,Go First,23:45,8h 55m,1 Stop,Mumbai,Bangalore,5100,2021-11-8,Economy
3,Air Asia,14:55,9h 10m,1 Stop,Mumbai,Bangalore,5100,2021-11-8,Economy
4,Go First,22:40,10h 00m,1 Stop,Mumbai,Bangalore,5100,2021-11-8,Economy
...,...,...,...,...,...,...,...,...,...
537,Vistara,06:20,39h 00m,2 Stop(s),Mumbai,Goa,15805,2021-11-8,Economy
538,Air India,19:20,17h 55m,2 Stop(s),Mumbai,Goa,17536,2021-11-8,Economy
539,Air India,07:00,6h 15m,1 Stop,Mumbai,Goa,18543,2021-11-8,Economy
540,Go First,09:25,10h 45m,1 Stop,Mumbai,Goa,19461,2021-11-8,Economy
541,Air India,20:15,17h 00m,2 Stop(s),Mumbai,Goa,20223,2021-11-8,Economy

In [11]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','10','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','10','11','2021','Economy')



x7 = pd.DataFrame({})
x7['airlines'] = airlines
x7['departure'] = departure
x7['duration'] = duration
x7['stops'] = stops
x7['from_city'] = 'Mumbai'
x7['to_city'] = to_city
x7['price'] = price
x7['journey_date'] = '2021-11-10'
x7['fclass'] = 'Economy'
x7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,21:20,5h 30m,1 Stop,Mumbai,New Delhi,5941,2021-11-10,Economy
1,Air Asia,08:20,5h 40m,1 Stop,Mumbai,New Delhi,5941,2021-11-10,Economy
2,Air Asia,04:45,6h 10m,1 Stop,Mumbai,New Delhi,5941,2021-11-10,Economy
3,Air Asia,21:20,6h 15m,1 Stop,Mumbai,New Delhi,5941,2021-11-10,Economy
4,Air Asia,02:35,6h 20m,1 Stop,Mumbai,New Delhi,5941,2021-11-10,Economy
...,...,...,...,...,...,...,...,...,...
609,Vistara,15:45,22h 05m,1 Stop,Mumbai,Goa,17598,2021-11-10,Economy
610,Vistara,07:30,6h 20m,1 Stop,Mumbai,Goa,18858,2021-11-10,Economy
611,Vistara,06:30,7h 20m,1 Stop,Mumbai,Goa,18858,2021-11-10,Economy
612,Vistara,06:00,7h 50m,1 Stop,Mumbai,Goa,18858,2021-11-10,Economy
613,Air India,20:15,17h 00m,2 Stop(s),Mumbai,Goa,19698,2021-11-10,Economy

In [16]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','12','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','12','11','2021','Economy')



x8 = pd.DataFrame({})
x8['airlines'] = airlines
x8['departure'] = departure
x8['duration'] = duration
x8['stops'] = stops
x8['from_city'] = 'Mumbai'
x8['to_city'] = to_city
x8['price'] = price
x8['journey_date'] = '2021-11-12'
x8['fclass'] = 'Economy'
x8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air Asia,21:20,5h 30m,1 Stop,Mumbai,New Delhi,5941,2021-11-12,Economy
1,Air Asia,08:20,5h 40m,1 Stop,Mumbai,New Delhi,5941,2021-11-12,Economy
2,Air Asia,04:45,6h 10m,1 Stop,Mumbai,New Delhi,5941,2021-11-12,Economy
3,Air Asia,21:20,6h 15m,1 Stop,Mumbai,New Delhi,5941,2021-11-12,Economy
4,Air Asia,02:35,6h 20m,1 Stop,Mumbai,New Delhi,5941,2021-11-12,Economy
...,...,...,...,...,...,...,...,...,...
323,Go First,07:30,12h 40m,1 Stop,Mumbai,Goa,8857,2021-11-12,Economy
324,Air Asia,07:20,15h 15m,1 Stop,Mumbai,Goa,8857,2021-11-12,Economy
325,Air Asia,22:55,16h 00m,1 Stop,Mumbai,Goa,8857,2021-11-12,Economy
326,Air Asia,22:55,16h 30m,1 Stop,Mumbai,Goa,8857,2021-11-12,Economy
327,Go First,06:05,11h 05m,1 Stop,Mumbai,Goa,9199,2021-11-12,Economy

In [19]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','BLR','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','MAA','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','CCU','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','HYD','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','AMD','14','11','2021','Economy')
time.sleep(4)
get_yatra('BOM','GOI','14','11','2021','Economy')



x9 = pd.DataFrame({})
x9['airlines'] = airlines
x9['departure'] = departure
x9['duration'] = duration
x9['stops'] = stops
x9['from_city'] = 'Mumbai'
x9['to_city'] = to_city
x9['price'] = price
x9['journey_date'] = '2021-11-14'
x9['fclass'] = 'Economy'
x9

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India,07:00,1h 55m,Non Stop,Mumbai,New Delhi,4919,2021-11-14,Economy
1,Air India,21:30,2h 00m,Non Stop,Mumbai,New Delhi,4919,2021-11-14,Economy
2,Air India,08:00,2h 15m,Non Stop,Mumbai,New Delhi,4919,2021-11-14,Economy
3,Air India,10:00,2h 15m,Non Stop,Mumbai,New Delhi,4919,2021-11-14,Economy
4,Air India,19:00,2h 15m,Non Stop,Mumbai,New Delhi,4919,2021-11-14,Economy
...,...,...,...,...,...,...,...,...,...
304,Vistara,18:30,19h 20m,1 Stop,Mumbai,Goa,15603,2021-11-14,Economy
305,Vistara,17:30,20h 20m,1 Stop,Mumbai,Goa,15603,2021-11-14,Economy
306,Vistara,15:45,22h 05m,1 Stop,Mumbai,Goa,15603,2021-11-14,Economy
307,Air Asia,07:20,7h 35m,1 Stop,Mumbai,Goa,22531,2021-11-14,Economy
308,Air Asia,07:20,8h 05m,1 Stop,Mumbai,Goa,25261,2021-11-14,Economy

In [22]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','30','10','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','30','10','2021','Special')



y1 = pd.DataFrame({})
y1['airlines'] = airlines
y1['departure'] = departure
y1['duration'] = duration
y1['stops'] = stops
y1['from_city'] = 'Mumbai'
y1['to_city'] = to_city
y1['price'] = price
y1['journey_date'] = '2021-10-30'
y1['fclass'] = 'Special'
y1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,22:45,2h 10m,Non Stop,Mumbai,New Delhi,10626,2021-10-30,Special
1,Vistara Premium Economy,21:55,2h 15m,Non Stop,Mumbai,New Delhi,10626,2021-10-30,Special
2,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,12306,2021-10-30,Special
3,Vistara Premium Economy,19:15,13h 45m,1 Stop,Mumbai,New Delhi,15106,2021-10-30,Special
4,Vistara Premium Economy,19:15,24h 40m,1 Stop,Mumbai,New Delhi,15106,2021-10-30,Special
...,...,...,...,...,...,...,...,...,...
164,Vistara Premium Economy,05:30,32h 20m,2 Stop(s),Mumbai,Goa,31221,2021-10-30,Special
165,Vistara Premium Economy,11:55,7h 55m,1 Stop,Mumbai,Goa,32578,2021-10-30,Special
166,Vistara Premium Economy,08:45,11h 05m,1 Stop,Mumbai,Goa,32578,2021-10-30,Special
167,Vistara Premium Economy,05:30,32h 20m,3 Stop(s),Mumbai,Goa,38031,2021-10-30,Special
168,Vistara Premium Economy,05:30,32h 20m,3 Stop(s),Mumbai,Goa,38031,2021-10-30,Special

In [25]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','1','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','1','11','2021','Special')



y2 = pd.DataFrame({})
y2['airlines'] = airlines
y2['departure'] = departure
y2['duration'] = duration
y2['stops'] = stops
y2['from_city'] = 'Mumbai'
y2['to_city'] = to_city
y2['price'] = price
y2['journey_date'] = '2021-11-1'
y2['fclass'] = 'Special'
y2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-1,Special
1,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-1,Special
2,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-1,Special
3,Vistara Premium Economy,11:55,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-1,Special
4,Vistara Premium Economy,22:45,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-1,Special
...,...,...,...,...,...,...,...,...,...
220,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,17738,2021-11-1,Special
221,Vistara Premium Economy,19:45,18h 05m,1 Stop,Mumbai,Goa,23114,2021-11-1,Special
222,Vistara Premium Economy,17:30,20h 20m,1 Stop,Mumbai,Goa,23114,2021-11-1,Special
223,Vistara Premium Economy,18:30,19h 20m,1 Stop,Mumbai,Goa,26530,2021-11-1,Special
224,Vistara Premium Economy,07:30,6h 20m,1 Stop,Mumbai,Goa,31010,2021-11-1,Special

In [26]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','3','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','3','11','2021','Special')



y3 = pd.DataFrame({})
y3['airlines'] = airlines
y3['departure'] = departure
y3['duration'] = duration
y3['stops'] = stops
y3['from_city'] = 'Mumbai'
y3['to_city'] = to_city
y3['price'] = price
y3['journey_date'] = '2021-11-3'
y3['fclass'] = 'Special'
y3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-3,Special
1,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-3,Special
2,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-3,Special
3,Vistara Premium Economy,07:30,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-3,Special
4,Vistara Premium Economy,11:55,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-3,Special
...,...,...,...,...,...,...,...,...,...
171,Vistara Premium Economy,17:30,20h 20m,1 Stop,Mumbai,Goa,20034,2021-11-3,Special
172,Vistara Premium Economy,15:45,22h 05m,1 Stop,Mumbai,Goa,20034,2021-11-3,Special
173,Vistara Premium Economy,14:40,23h 10m,1 Stop,Mumbai,Goa,20034,2021-11-3,Special
174,Vistara Premium Economy,11:55,25h 55m,1 Stop,Mumbai,Goa,20034,2021-11-3,Special
175,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,20034,2021-11-3,Special

In [27]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','5','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','5','11','2021','Special')



y4 = pd.DataFrame({})
y4['airlines'] = airlines
y4['departure'] = departure
y4['duration'] = duration
y4['stops'] = stops
y4['from_city'] = 'Mumbai'
y4['to_city'] = to_city
y4['price'] = price
y4['journey_date'] = '2021-11-5'
y4['fclass'] = 'Special'
y4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-5,Special
1,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-5,Special
2,Vistara Premium Economy,22:45,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-5,Special
3,Vistara Premium Economy,21:55,2h 15m,Non Stop,Mumbai,New Delhi,6930,2021-11-5,Special
4,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,7266,2021-11-5,Special
...,...,...,...,...,...,...,...,...,...
189,Vistara Premium Economy,06:00,7h 50m,1 Stop,Mumbai,Goa,30450,2021-11-5,Special
190,Vistara Premium Economy,07:30,6h 20m,1 Stop,Mumbai,Goa,30786,2021-11-5,Special
191,Vistara Premium Economy,06:30,7h 20m,1 Stop,Mumbai,Goa,30786,2021-11-5,Special
192,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,32186,2021-11-5,Special
193,Vistara Premium Economy,11:55,25h 55m,1 Stop,Mumbai,Goa,38234,2021-11-5,Special

In [28]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','7','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','7','11','2021','Special')



y5 = pd.DataFrame({})
y5['airlines'] = airlines
y5['departure'] = departure
y5['duration'] = duration
y5['stops'] = stops
y5['from_city'] = 'Mumbai'
y5['to_city'] = to_city
y5['price'] = price
y5['journey_date'] = '2021-11-7'
y5['fclass'] = 'Special'
y5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-7,Special
1,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-7,Special
2,Vistara Premium Economy,19:45,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-7,Special
3,Vistara Premium Economy,22:45,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-7,Special
4,Vistara Premium Economy,21:55,2h 15m,Non Stop,Mumbai,New Delhi,6930,2021-11-7,Special
...,...,...,...,...,...,...,...,...,...
160,Vistara Premium Economy,18:30,19h 20m,1 Stop,Mumbai,Goa,25410,2021-11-7,Special
161,Vistara Premium Economy,15:45,22h 05m,1 Stop,Mumbai,Goa,25410,2021-11-7,Special
162,Vistara Premium Economy,11:55,25h 55m,1 Stop,Mumbai,Goa,25410,2021-11-7,Special
163,Vistara Premium Economy,14:40,23h 10m,1 Stop,Mumbai,Goa,28826,2021-11-7,Special
164,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,28826,2021-11-7,Special

In [31]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','9','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','9','11','2021','Special')



y6 = pd.DataFrame({})
y6['airlines'] = airlines
y6['departure'] = departure
y6['duration'] = duration
y6['stops'] = stops
y6['from_city'] = 'Mumbai'
y6['to_city'] = to_city
y6['price'] = price
y6['journey_date'] = '2021-11-9'
y6['fclass'] = 'Special'
y6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,14:40,8h 05m,1 Stop,Mumbai,Chennai,14511,2021-11-9,Special
1,Vistara Premium Economy,11:55,10h 50m,1 Stop,Mumbai,Chennai,14511,2021-11-9,Special
2,Vistara Premium Economy,10:25,12h 20m,1 Stop,Mumbai,Chennai,14511,2021-11-9,Special
3,Vistara Premium Economy,08:45,14h 00m,1 Stop,Mumbai,Chennai,14511,2021-11-9,Special
4,Vistara Premium Economy,07:30,15h 15m,1 Stop,Mumbai,Chennai,14511,2021-11-9,Special
...,...,...,...,...,...,...,...,...,...
105,Vistara Premium Economy,17:30,20h 20m,1 Stop,Mumbai,Goa,30450,2021-11-9,Special
106,Vistara Premium Economy,14:40,23h 10m,1 Stop,Mumbai,Goa,30450,2021-11-9,Special
107,Vistara Premium Economy,11:55,25h 55m,1 Stop,Mumbai,Goa,30450,2021-11-9,Special
108,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,30450,2021-11-9,Special
109,Vistara Premium Economy,15:45,22h 05m,1 Stop,Mumbai,Goa,30786,2021-11-9,Special

In [32]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','11','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','11','11','2021','Special')



y7 = pd.DataFrame({})
y7['airlines'] = airlines
y7['departure'] = departure
y7['duration'] = duration
y7['stops'] = stops
y7['from_city'] = 'Mumbai'
y7['to_city'] = to_city
y7['price'] = price
y7['journey_date'] = '2021-11-11'
y7['fclass'] = 'Special'
y7

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-11,Special
1,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-11,Special
2,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-11,Special
3,Vistara Premium Economy,07:30,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-11,Special
4,Vistara Premium Economy,11:55,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-11,Special
...,...,...,...,...,...,...,...,...,...
91,Vistara Premium Economy,15:45,22h 05m,1 Stop,Mumbai,Goa,30450,2021-11-11,Special
92,Vistara Premium Economy,14:40,23h 10m,1 Stop,Mumbai,Goa,30450,2021-11-11,Special
93,Vistara Premium Economy,11:55,25h 55m,1 Stop,Mumbai,Goa,30450,2021-11-11,Special
94,Vistara Premium Economy,10:25,27h 25m,1 Stop,Mumbai,Goa,30450,2021-11-11,Special
95,Vistara Premium Economy,17:30,20h 20m,1 Stop,Mumbai,Goa,30786,2021-11-11,Special

In [33]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','BLR','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','MAA','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','CCU','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','HYD','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','AMD','13','11','2021','Special')
time.sleep(4)
get_yatra('BOM','GOI','13','11','2021','Special')



y8 = pd.DataFrame({})
y8['airlines'] = airlines
y8['departure'] = departure
y8['duration'] = duration
y8['stops'] = stops
y8['from_city'] = 'Mumbai'
y8['to_city'] = to_city
y8['price'] = price
y8['journey_date'] = '2021-11-13'
y8['fclass'] = 'Special'
y8

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Vistara Premium Economy,06:00,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-13,Special
1,Vistara Premium Economy,06:30,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-13,Special
2,Vistara Premium Economy,20:55,2h 05m,Non Stop,Mumbai,New Delhi,6930,2021-11-13,Special
3,Vistara Premium Economy,07:30,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-13,Special
4,Vistara Premium Economy,11:55,2h 10m,Non Stop,Mumbai,New Delhi,6930,2021-11-13,Special
...,...,...,...,...,...,...,...,...,...
128,Vistara Premium Economy,15:45,27h 55m,1 Stop,Mumbai,Ahmedabad,18354,2021-11-13,Special
129,Vistara Premium Economy,11:30,8h 10m,2 Stop(s),Mumbai,Ahmedabad,21276,2021-11-13,Special
130,Vistara Premium Economy,12:15,7h 25m,2 Stop(s),Mumbai,Ahmedabad,24710,2021-11-13,Special
131,Vistara Premium Economy,09:05,10h 35m,2 Stop(s),Mumbai,Ahmedabad,30730,2021-11-13,Special
132,Vistara Premium Economy,11:25,8h 15m,2 Stop(s),Mumbai,Ahmedabad,32634,2021-11-13,Special

In [38]:
mumbai1 = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8], axis = 0)
mumbai1.shape
mumbai1.to_excel('mumbai1.xlsx')

In [50]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','15','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','15','11','2021','Business')



z1 = pd.DataFrame({})
z1['airlines'] = airlines
z1['departure'] = departure
z1['duration'] = duration
z1['stops'] = stops
z1['from_city'] = 'Mumbai'
z1['to_city'] = to_city
z1['price'] = price
z1['journey_date'] = '2021-11-15'
z1['fclass'] = 'Business'
z1

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,1h 55m,Non Stop,Mumbai,New Delhi,20000,2021-11-15,Business
1,Air India Business,21:30,2h 00m,Non Stop,Mumbai,New Delhi,20000,2021-11-15,Business
2,Air India Business,08:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-15,Business
3,Air India Business,10:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-15,Business
4,Air India Business,18:00,2h 30m,Non Stop,Mumbai,New Delhi,20000,2021-11-15,Business
...,...,...,...,...,...,...,...,...,...
294,Air India Business,18:00,24h 10m,1 Stop,Mumbai,Ahmedabad,57711,2021-11-15,Business
295,Air India Business,15:25,26h 45m,2 Stop(s),Mumbai,Ahmedabad,57711,2021-11-15,Business
296,Vistara Business,08:45,10h 55m,1 Stop,Mumbai,Ahmedabad,58573,2021-11-15,Business
297,Vistara Business,07:30,12h 10m,1 Stop,Mumbai,Ahmedabad,58573,2021-11-15,Business
298,Vistara Business,19:45,14h 35m,1 Stop,Mumbai,Ahmedabad,58573,2021-11-15,Business

In [39]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','1','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','1','11','2021','Business')



z2 = pd.DataFrame({})
z2['airlines'] = airlines
z2['departure'] = departure
z2['duration'] = duration
z2['stops'] = stops
z2['from_city'] = 'Mumbai'
z2['to_city'] = to_city
z2['price'] = price
z2['journey_date'] = '2021-11-1'
z2['fclass'] = 'Business'
z2

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,1h 55m,Non Stop,Mumbai,New Delhi,20000,2021-11-1,Business
1,Air India Business,21:30,2h 00m,Non Stop,Mumbai,New Delhi,20000,2021-11-1,Business
2,Air India Business,08:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-1,Business
3,Air India Business,19:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-1,Business
4,Air India Business,18:00,2h 30m,Non Stop,Mumbai,New Delhi,20000,2021-11-1,Business
...,...,...,...,...,...,...,...,...,...
418,Vistara Business,07:30,13h 50m,1 Stop,Mumbai,Goa,85285,2021-11-1,Business
419,Vistara Business,19:45,18h 05m,1 Stop,Mumbai,Goa,94189,2021-11-1,Business
420,Vistara Business,22:45,15h 05m,1 Stop,Mumbai,Goa,95309,2021-11-1,Business
421,Vistara Business,17:30,20h 20m,1 Stop,Mumbai,Goa,102029,2021-11-1,Business
422,Vistara Business,18:30,19h 20m,1 Stop,Mumbai,Goa,102589,2021-11-1,Business

In [40]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','4','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','4','11','2021','Business')



z3 = pd.DataFrame({})
z3['airlines'] = airlines
z3['departure'] = departure
z3['duration'] = duration
z3['stops'] = stops
z3['from_city'] = 'Mumbai'
z3['to_city'] = to_city
z3['price'] = price
z3['journey_date'] = '2021-11-4'
z3['fclass'] = 'Business'
z3

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,09:00,1h 55m,Non Stop,Mumbai,Chennai,20060,2021-11-4,Business
1,Air India Business,05:20,2h 00m,Non Stop,Mumbai,Chennai,20060,2021-11-4,Business
2,Vistara Business,07:05,2h 00m,Non Stop,Mumbai,Chennai,23484,2021-11-4,Business
3,Vistara Business,09:45,2h 05m,Non Stop,Mumbai,Chennai,23484,2021-11-4,Business
4,Vistara Business,17:50,2h 05m,Non Stop,Mumbai,Chennai,23484,2021-11-4,Business
...,...,...,...,...,...,...,...,...,...
102,Air India Business,07:05,27h 25m,2 Stop(s),Mumbai,Hyderabad,39610,2021-11-4,Business
103,Air India Business,07:00,27h 30m,1 Stop,Mumbai,Hyderabad,39610,2021-11-4,Business
104,Air India Business,08:00,27h 55m,1 Stop,Mumbai,Hyderabad,39610,2021-11-4,Business
105,Air India Business,19:00,28h 35m,1 Stop,Mumbai,Hyderabad,39610,2021-11-4,Business
106,Air India Business,07:05,28h 50m,2 Stop(s),Mumbai,Hyderabad,39610,2021-11-4,Business

In [45]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','7','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','7','11','2021','Business')



z4 = pd.DataFrame({})
z4['airlines'] = airlines
z4['departure'] = departure
z4['duration'] = duration
z4['stops'] = stops
z4['from_city'] = 'Mumbai'
z4['to_city'] = to_city
z4['price'] = price
z4['journey_date'] = '2021-11-7'
z4['fclass'] = 'Business'
z4

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,1h 55m,Non Stop,Mumbai,New Delhi,20000,2021-11-7,Business
1,Air India Business,21:30,2h 00m,Non Stop,Mumbai,New Delhi,20000,2021-11-7,Business
2,Air India Business,08:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-7,Business
3,Air India Business,10:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-7,Business
4,Air India Business,16:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-7,Business
...,...,...,...,...,...,...,...,...,...
423,Vistara Business,19:45,25h 35m,1 Stop,Mumbai,Goa,85285,2021-11-7,Business
424,Vistara Business,08:45,12h 35m,1 Stop,Mumbai,Goa,85789,2021-11-7,Business
425,Vistara Business,07:30,13h 50m,1 Stop,Mumbai,Goa,85789,2021-11-7,Business
426,Vistara Business,19:45,18h 05m,1 Stop,Mumbai,Goa,91949,2021-11-7,Business
427,Vistara Business,07:30,6h 20m,1 Stop,Mumbai,Goa,94189,2021-11-7,Business

In [46]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','10','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','10','11','2021','Business')



z5 = pd.DataFrame({})
z5['airlines'] = airlines
z5['departure'] = departure
z5['duration'] = duration
z5['stops'] = stops
z5['from_city'] = 'Mumbai'
z5['to_city'] = to_city
z5['price'] = price
z5['journey_date'] = '2021-11-10'
z5['fclass'] = 'Business'
z5

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,1h 55m,Non Stop,Mumbai,New Delhi,20000,2021-11-10,Business
1,Air India Business,21:30,2h 00m,Non Stop,Mumbai,New Delhi,20000,2021-11-10,Business
2,Air India Business,08:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-10,Business
3,Air India Business,10:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-10,Business
4,Air India Business,18:00,2h 30m,Non Stop,Mumbai,New Delhi,20000,2021-11-10,Business
...,...,...,...,...,...,...,...,...,...
310,Vistara Business,07:30,26h 50m,1 Stop,Mumbai,Ahmedabad,64173,2021-11-10,Business
311,Vistara Business,21:55,12h 25m,1 Stop,Mumbai,Ahmedabad,76717,2021-11-10,Business
312,Vistara Business,21:55,21h 45m,1 Stop,Mumbai,Ahmedabad,76717,2021-11-10,Business
313,Vistara Business,11:25,8h 15m,2 Stop(s),Mumbai,Ahmedabad,84703,2021-11-10,Business
314,Vistara Business,09:05,10h 35m,2 Stop(s),Mumbai,Ahmedabad,87570,2021-11-10,Business

In [47]:
airlines = []
departure = []
duration = []
stops = []
from_city = []
to_city = []
meals = []
price = []

get_yatra('BOM','DEL','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','BLR','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','MAA','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','CCU','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','HYD','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','AMD','13','11','2021','Business')
time.sleep(4)
get_yatra('BOM','GOI','13','11','2021','Business')



z6 = pd.DataFrame({})
z6['airlines'] = airlines
z6['departure'] = departure
z6['duration'] = duration
z6['stops'] = stops
z6['from_city'] = 'Mumbai'
z6['to_city'] = to_city
z6['price'] = price
z6['journey_date'] = '2021-11-13'
z6['fclass'] = 'Business'
z6

,airlines,departure,duration,stops,from_city,to_city,price,journey_date,fclass
0,Air India Business,07:00,1h 55m,Non Stop,Mumbai,New Delhi,20000,2021-11-13,Business
1,Air India Business,21:30,2h 00m,Non Stop,Mumbai,New Delhi,20000,2021-11-13,Business
2,Air India Business,08:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-13,Business
3,Air India Business,10:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-13,Business
4,Air India Business,16:00,2h 15m,Non Stop,Mumbai,New Delhi,20000,2021-11-13,Business
...,...,...,...,...,...,...,...,...,...
365,Vistara Business,22:45,15h 05m,1 Stop,Mumbai,Goa,77949,2021-11-13,Business
366,Vistara Business,07:30,6h 20m,1 Stop,Mumbai,Goa,78285,2021-11-13,Business
367,Vistara Business,19:45,18h 05m,1 Stop,Mumbai,Goa,78285,2021-11-13,Business
368,Vistara Business,18:30,19h 20m,1 Stop,Mumbai,Goa,78285,2021-11-13,Business
369,Vistara Business,15:45,22h 05m,1 Stop,Mumbai,Goa,83549,2021-11-13,Business

In [51]:
mumbai = pd.concat([x1,x2,x3,x4,x5,x6,x7,x8,x9,y1,y2,y3,y4,y5,y6,y7,y8,z1,z2,z3,z4,z5,z6], axis = 0)
mumbai.shape
mumbai.to_excel('mumbai.xlsx')